ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, li div{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover, li div:hover {
  background-color: #111;
}

.input-container{
  width: 40rem;
  height: 20rem;
  margin: auto;
}

.file-input-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.file-input-label{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#file-input{
  display: none;
}

.file-container{
  width: 40rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.delete-file{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}